h1
{
	font: 2em Inconsolata; color: black;
	text-shadow: 1px 1px 1px darkgrey;
	filter: dropshadow(color=#ffffff, offx=, offy=1);	
}

h2
{
	font: 2em Inconsolata; color: black;
	text-shadow: 1px 1px 1px darkgrey;
	filter: dropshadow(color=#ffffff, offx=, offy=1);	
}

#about_brobase
{
	font: 1em Inconsolata; color: black;
	padding-left: 20em;
	padding-right: 20em;
	text-shadow: 1px 1px 1px darkgrey;
	filter: dropshadow(color=#ffffff, offx=, offy=1);	
}

#bottom_of_page
{
	font: 1em Inconsolata; color: black;
	text-shadow: 1px 1px 1px darkgrey;
	filter: dropshadow(color=#ffffff, offx=, offy=1);
}

#searchform
{
	position: relative;
	top: 25%;
}

#searchResults
{
	font: 1em Inconsolata; color: black;
	text-shadow: 1px 1px 1px darkgrey;
	filter: dropshadow(color=#ffffff, offx=, offy=1);
}

#shoutOutForm
{
	font: 1em Inconsolata; color: black;
	text-shadow: 1px 1px 1px darkgrey;
	filter: dropshadow(color=#ffffff, offx=, offy=1);
}

html,body{ width: 100%; height:75%; padding: 0; margin: 0; }

#so_bar
{
	width: 225px;
	padding: 10px 15px 10px 15px;
	border: 1px solid black;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	font: 20px Inconsolata; color: black;
	outline: none; /*Remove Chrome and Safari glows on focus*/
}

#so_bar_expanded
{
	width: 225px;
	padding: 10px 15px 10px 15px;
	border: 1px solid black;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	font: 20px Inconsolata; color: black;
	outline: none; /*Remove Chrome and Safari glows on focus*/
}

#bs_bar
{
	width: 425px;
	padding: 10px 15px 10px 15px;
	border: 1px solid black;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	font: 20px Inconsolata; color: black;
	outline: none; /*Remove Chrome and Safari glows on focus*/
	
	/*background: rgb(235,241,246); /* Old browsers */
	/*background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
	/*background: linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
}

#bs
{
	font: 23px Inconsolata;
	/*border: 0px solid #c7c7c7;*/
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	padding: 10px 20px 10px 20px;
	
	/*background: rgb(180,227,145); /* Old browsers */
	/*background: -moz-linear-gradient(top,  rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* IE10+ */
	/*background: linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}

#so
{
	font: 15px Inconsolata;
	/*border: 0px solid #c7c7c7;*/
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	padding: 10px 20px 10px 20px;
}